.aboutmyself {
  margin-top: 11.4rem;
  margin-bottom: 11.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutmyself > * {
  flex: 1 1 0;
}

.aboutmyself::before {
  content: "";
  display: block;
  background-color: white;
  height: 120rem;
  width: 110%;
  position: absolute;
  border-radius: 0 7.5rem 0 0;
  right: -5%;
  z-index: -1;
}

.aboutmyself .intro {
  padding-top: 11.4rem;
}

.aboutmyself .drop-buttons {
  margin-top: 2.5rem;
}

.aboutmyself .drop-button {
  line-height: 1.2;
  font-size: 2rem;
  padding: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.aboutmyself .drop-button > * {
  flex: 1 1 100%;
}

.aboutmyself .drop-button .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.2rem;
}

.aboutmyself .drop-button .title::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../images/dropIconDown.png");
  background-size: 4rem;
  background-repeat: no-repeat;
}

.drop-button .extra-menu {
  padding: 0 1.2rem;
  display: block;
}

.drop-button .extra-menu > li {
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  height: 6.67rem;
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  margin-bottom: 1.2rem;
}

.drop-button .extra-menu li:last-child {
  margin-bottom: 0;
}

.drop-button .extra-menu li > img {
  width: 4.8rem;
  margin-right: 1.6rem;
}
