/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  min-height: 4rem;
}

.header .logo,
.header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
  padding: 1.1rem 1.2rem;
}

.header .icon {
  flex-basis: 4rem;
  padding: 0.8rem;
}

.header nav {
  display: flex;
}

.header nav > ul {
  display: none;
  color: #344563;
}

.header nav > ul > * {
  margin-right: 0.8rem;
  padding: 1rem 1.2rem;
}

.header nav > ul > *:last-child {
  margin-right: 0;
}
