/* General Styles from the udemy course:
 * https://www.udemy.com/course/css-grid-y-flexbox-la-guia-definitiva-crea-10-proyectos/
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding: 0 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.header .logo,
.header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
  padding: 1.1rem 1.2rem;
}

.header .icon {
  flex-basis: 4rem;
  padding: 0.8rem;
}

.header .logo svg,
.header .icon svg {
  /* width: 100%; */
}
