.formError {
  background-color: #f00;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 1.5rem 1.6rem;
}
