/* General Styles from the udemy course:
 * https://www.udemy.com/course/css-grid-y-flexbox-la-guia-definitiva-crea-10-proyectos/
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #f7f7f9;
}

svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* MY OWN GLOBALS */

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

ul,
h1,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
