.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #c1c7d085;
  backdrop-filter: blur(0.5rem);
  display: block;
  z-index: 4;
  top: 0;
  margin: 0 auto;
  padding: 4rem 2rem;

  .work-card {
    margin: 0 auto;
    min-height: 71.3rem;
    position: relative;

    .description-card {
      .tags-group {
        margin-top: 2rem;
      }
    }

    // &::before {
    .crossIcon {
      content: "";
      display: block;
      position: absolute;
      right: 1rem;
      top: 2.2rem;
      width: 3rem;
      height: 3rem;
      margin: 0 1rem;
      background-image: url("../img/closeDark.svg");
      background-size: 3rem;
      background-repeat: no-repeat;
    }

  }

  .cardbutton {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      display: none;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem;
      padding: 1.2rem 2.2rem;
      line-height: 1;
      font-size: 1.5rem;

      &:first-of-type {
        display: none;
      }

      .btnIcon {
        display: inline;
        margin-left: 1rem;
      }
    }
  }
}
