.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #f00;
  display: block;
  z-index: 4;
  top: 0;
  margin: 0 auto;
  padding: 4rem 2rem;

  .cardbutton {
    display: flex;
    align-items: center;

    &:first-child {
      display: none;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem;
      padding: 1.2rem 2.2rem;
      line-height: 1;

      &:first-of-type {
        display: none;
      }

      .btnIcon {
        display: inline;
        margin-left: 1rem;
      }
    }
  }
}
